{{> logo.hbs}}

<br />

<br />

<p align="center">

{{> badges-repo.hbs name=name }}


</p>


<p align="center">


{{> badges-stack.hbs }}

</p>

---


# @{{name}}


{{description}}


<br />


## Getting Started


### Install

```bash
% git clone {{repository.url}}

% cd {{name}}

% yarn
```


{{> install-nuxt.hbs }}


## Test

```bash
% yarn run test
```

## Documentation

```bash
% yarn run docs
```

<br />


## Documentation


<details>
<summary><strong>Details</strong></summary>


<br />

{{> documentation.hbs }}

<br />


</details>


## Coverage


<details>
<summary><strong>Details</strong></summary>


<br />

{{> coverage.hbs }}

<br />


</details>


## Changelog


<br />

{{> changelog.hbs }}

<br />



{{> environments.hbs name=name }}



---

Reference: [Code of Conduct]({{repository.url}}/CODE_OF_CONDUCT.md) | [Contributing]({{repository.url}}/CONTRIBUTING.md)
| [Issues]({{repository.url}}/issues)
| [Pull Requests]({{repository.url}}/pulls) | [License]({{repository.url}}/LICENSE) | [Security]({{repository.url}}/SECURITY.md)

Getting Help: [Discussions]({{repository.url}}/discussions)
| [API Docs]({{repository.url}}/docs)
| [Wiki]({{repository.url}}/wiki)
