<br />

[![logo](https://github.com/keithboice/kb_template_github/blob/main/_hero.png?raw=true)](https://raw.githubusercontent.com/keithboice/.github/docs/assets/logo.png)

<br />

<br />

![GitHub release (latest SemVer)](https://img.shields.io/github/v/release/keithboice/kb?sort=semver&style=for-the-badge)
![GitHub Workflow Status](https://img.shields.io/github/workflow/status/keithboice/kb/ci?style=for-the-badge)
![nycrc config on GitHub](https://img.shields.io/nycrc/keithboice/kb?config=.nycrc&preferredThreshold=branches&style=for-the-badge)
![GitHub issues](https://img.shields.io/github/issues-raw/keithboice/kb?style=for-the-badge)

---


# {{name}}


{{description}}

<br />


## Documentation


{{jsdocs}}

<br />

---

## Stack

| language | engines | type |
| --- | --- | --- |
| {{stack.language}} | [![NodeJS](https://img.shields.io/badge/node-{{stack.engines.node}}-388e3c.svg?style=for-the-badge&logo=Node.js&logoColor=424242&labelColor=bdbdbd)](https://nodejs.dev)  [![NodeJS](https://img.shields.io/badge/pnpm-{{stack.engines.pnpm}}-388e3c.svg?style=for-the-badge&logo=iVBORw0KGgoAAAANSUhEUgAAAKAAAACgCAYAAACLz2ctAAADlklEQVR4Xu3dwY3CUBBEQXJz/qEYR2DM/j14USeAunaehITGp1JfzInHY5q+3XVd+2W06671PR+W9rdVPmnuRqGuvDdHD6W68t4cPZTqyntz9FCqK+/N0UOprrw3Rw+luvLeHD2U6sp7c/RQqivvzdFDqa68N0cPpbry3hw9lOrKe3P0UKor783RQ6muvDdHD6W68t4cPZTqyntz9FCqK+/N0UOprrw3Rw+luvLeHD2U6sp7c/RQqivvzdFDqa68N0cPpbry3hw9lOrKe3P0UKor783RQ6muvDdHD6W68t4cPZTqyntz9FCqK+/N0UOprrw3Rw+luvLeHD2U6sp7c/RQqivvzdFDqa68N0cPpbry3hw9lOrKe3P0UKor783RQ6muvDdHD6W68t4cPZTqyntz9FCqK+/N0UOprrw3Rw+luvLeHD2U6sp7c/RQqivvzdFDqa68N0cPpbry3hw9lOrKe3P0UKor7819DnXkw9KeNwp1re/5sLTjc6tpmqZpmqZpInq9Xnu++Ta2HLKJbUG3bav/rGQTmziWaGITxxJNbOJYoolNHEs0sYljiSY2cSzRxCaOJZrYxLFEE5s4lmhiE8cSTWziWKKJTRxLNLGJY4kmNnEs0cQmjiWa2MSxRBObOJZoYhPHEk1s4liiiU0cSzSxiWOJJjZxLNHEJo4lmtjEsUQTmziWaGITxxJNbOJYoolNHEs0sYljiSY2cSzRxCaOJZrYxLFEE5s4lmhiE8cSTWziWKKJTRxLNLGJY4kmNnEs0cQmjiWa2MSxRBObOJZoYhPHEk1s4liiiU0cSzSxiWOJJjZxLNHEJo4lmtjEP3cWTdM0TdM0TdM/7DzPI18SG/t5sX3qrvU9nze2trmHWof8mdz4Wd0o1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNJko1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNJko1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNJko1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNJko1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNJko1CWaTBTqEk0mCnWJJhOFukSTiUJdoslEoS7RZKJQl2gyUahLNK0/Qd5/L+Utx41CXaJpmr7WG5GAVrZnhz9KAAAAAElFTkSuQmCC==&logoColor=424242&labelColor=bdbdbd)](https://pnpm.js.org) | {{stack.type}} |

## Scripts

{{scripts}}

## Dependencies

{{dependencies}}

## Files

| main | bin | module |
| --- | --- | --- |
| {{files.main}} | cli.js | {{files.module}} | 

---

<br />

<p align="center">

[![Made with JSDoc](https://img.shields.io/badge/uses-DocumentationJS-e3f2fd.svg?style=for-the-badge)](https://github.com/jsdoc/jsdoc) [![Made with JSDoc2md](https://img.shields.io/badge/uses-JSDoc2md-c5cae9.svg?style=for-the-badge)](https://github.com/jsdoc2md/jsdoc-to-markdown) [![Made with JSDoc](https://img.shields.io/badge/made_with-JSDoc-bbdefb.svg?style=for-the-badge)](https://github.com/jsdoc/jsdoc)

</p>

<br />

<p align="right">

![GitHub](https://img.shields.io/badge/license-MIT-ef5350.svg?style=for-the-badge&logo=Open%20source%20initiative&logoColor=757575)

</p>
